.buttonContainer{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
}


.categoryButton{
    background: none;
    border: 2px grey solid;
    margin: 7px 10px;
    padding: 5px 7px;
    border-radius: 15px;
    /* width: 100px; */
}

/* .categoryButton.top{
    margin-top: 15px;
}

.categoryButton.bottom{
    margin-bottom: 15px;
} */