*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(41, 41, 41);
}

.main{
    width: 100vw;
    height: 100%;
    background: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeHeader{
    height: 35px;
    margin: .5vh 0;
}

.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.characterDropdown{
    background:grey;
    margin: 1vh 0;
    border: none;
    border-radius: 5px;
    margin: 0 0 0 10px;
    padding: 3px;
}


.category{
    width: 100%;
    max-width: 1000px;
    background: black;
    display: flex;
    justify-content: center;
    margin: 1vh 0;
    border-radius: 10px;
}

.categoryButton{
    cursor: pointer;
}

.subCategory{
    display: flex;
    justify-content: center;
    align-items: center;

}

.subCategoryContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subCategoryButtonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.attributes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

.tableContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tableContainer2{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding-bottom: 20px;
    margin: 0 20px;
    white-space: nowrap;
    column-gap: 0;
    flex-direction: column;
}

.arrow{
    height: 5px;
}

.table{
    border-collapse: collapse;
}

.tableColumn{
    padding-left: 10px;
    min-width: 120px;

}

.tableArrow{
    /* margin: 10px; */

}

.tableHeader{
    cursor: pointer;
    /* display: flex;
    flex-direction: column; */
}

.tableHeaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableHeaderRow{
    height: 50px;

}

.tableMoveRow{
    height: 30px;

}

.tableMoveRow:nth-child(even){
    background: rgb(87, 87, 87);
}

.tableMoveRow:nth-child(odd){
    background: dimgrey;
}

.tableMoveRow:last-child .tableColumn:first-child{
/* border-bottom-left-radius: 10px; */
/* background: orange; */

}



.footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 20px 0;
    color: grey;
}

.footer h1{
    color: rgb(156, 156, 156);
    font-size: 10px;
}

.input{
    background: grey;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    width: 50px;
    height: 20px;
}

.startNFinish{
    display: flex;
}

.startNFinishContainer1{
    margin: 0 30px 0 0;
}

.startNFinishContainer2{
    margin: 0 0px 0 30px;
}

.attributeRadio{
    margin-right: 10px;
}

